<!DOCTYPE html>
<html>
<head>
<title>RunBook</title>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


<style>
@font-face {
	font-family: 'Comfortaa-Regular';
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'),
		url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'),
		url('../fonts/Comfortaa/Comfortaa-Regular.svg') format('svg');
}

body {
	background: url(../images/bg-header.gif) repeat-x top center;
}

body #header {
	width: 100%;
	height: 130px;
	overflow: hidden;
}

body #header #logo {
	opacity: 0.7;
	margin: 5px 0 0 30px;
	padding: 0 0 0;
	font-size: 90px;
	color: white;
	float: left;
	text-align: center;
	border-radius: 10px;
	text-align: center;
	float: left;
	padding: 0 0 0;
}

body #header .clicktag {
	opacity: 0.7;
	background-color: white;
	margin: 80px 5px 0;
	width: 80px;
	height: 25px;
	font-size: 20px;
	color: #10edf0;
	float: right;
	text-align: center;
	border-radius: 5px;
	text-align: center;
}

body #header p {
	opacity: 0.7;
	margin: 80px 5px 0;
	width: auto;
	height: 25px;
	font-size: 20px;
	color: white;
	float: right;
	text-align: center;
	text-align: center;
	padding: 0 5px;
}

body .container {
	width: 1200px;
	margin: auto;
}

body .container .left {
	width: 246px;
	margin: 20px 0;
	float: left;
	height: 600px;
	background-color: #eeeeee;
	border: solid;
	border-width: 2px;
	border-radius: 5px;
}

body .container .left p {
	opacity: 0.7;
	margin: 0 0;
	width: 250;
	height: 50px;
	font-size: 40px;
	background-color: black;
	color: white;
	text-align: center;
}

body .container .left button {
	margin: 10px 25px 0;
	width: 200px;
	height: 50px;
	font-size: 25px;
	background-color: #cccccc;
	color: white;
	text-align: center;
	border-radius: 5px;
	width: 200px;
}

body .container .right {
	float: right;
	width: 950px;
}

body .container .right .paragraph {
	font-family: 'Comfortaa-Regular';
	float: left;
	margin: 20px;
	padding: 30px;
	width: 910px;
	height: 604px;
	font-size: 30px;
	text-align: center;
}
</style>
</head>
<body>

	<div id="header">
		<div id="logo">RunBook</div>
		<div class="clicktag" id="accounttag">Account</div>
		<div class="clicktag" id="abouttag">About</div>
		<div class="clicktag" id="hometag">Home</div>
		<p id="yourname"></p>
	</div>
	<div class="container">
		<div class="left">
			<p id="asguidetag">As Guide</p>
			<button id="createtripbutton">Create Trip</button>
			<button id="seetripbutton">See your Trip</button>
			<button id="seereviewbutton">See your Review</button>
		</div>
		<div class="right">
			<div class="paragraph" id="userinfo">user home index</div>
		</div>

	</div>
</body>

<script>
<!--  get session  -->

	var email;
	var role;
	$.ajaxSetup({  
	    async : false  
	}); 
	$.get("/getsession", function(res) {
		email=res.session.email;
		role=res.session.role;
		document.getElementById('yourname').innerHTML = "Welcome "
				+ res.session.firstname + " " + res.session.lastname;
		document.getElementById('userinfo').innerHTML = "Welcome back<br>First Name: "+ res.session.firstname +"<br>Last Name: " + res.session.lastname;
	});
<!--  make index button link  -->
	document.getElementById('logo').addEventListener('click', function() {
		window.location.assign('/');
	});
	document.getElementById('hometag').addEventListener('click', function() {
		window.location.assign('/');
	});
	document.getElementById('accounttag').addEventListener('click', function() {
		window.location.assign('/userhome');
	});
	document.getElementById('abouttag').addEventListener('click', function() {
		window.location.assign('/about');
	});
	document.getElementById('createtripbutton').addEventListener('click', function() {
		window.location.assign('/createtrip');
	});
	document.getElementById('seetripbutton').addEventListener('click', function() {
		window.location.assign('/userseetrip');
	});



if (role=="user"){
	
		document.getElementById('createtripbutton').style.display="none";
		document.getElementById('asguidetag').innerHTML="As User";
		document.getElementById('seetripbutton').innerHTML="See all Trips";
		
		
}
	

</script>
</html>